.movies {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #da6e6e;
}