.movies {
    display: grid;
    grid-template-rows: minmax(300px, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: space-evenly;
    background-color: lightgrey;
}

.movie-card {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 0.1fr 0.8fr 0.1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.movie-card img {
    width: 85%;
    object-fit: fill;
}

.movie-card-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.2fr;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 0.4rem;
    justify-content: center;
    color: aliceblue;
}

.movie-card-title p {
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    justify-content: center;
}

.movie-card-title > * {
    margin: 0;
}

.movieCardUIControls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.movieCardUIControls > button {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px ghostwhite;
}

.movieCardUIControls svg {
    width: 2rem;
    height: 1.5rem;
}

.liked svg {
    color: green;
    transform: scaleX(-1);
}

.disliked svg {
    color: red;
    transform: scale(-1, -1);
}

.pageControls {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    padding: 1rem;
}

.pageControls span {
    display: grid;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}