.movies {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgrey
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.movieCardUIControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.movieCardUIControls svg {
    width: 3rem;
    height: 2rem;
}