.movies {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: space-evenly;
    background-color: lightgrey
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.movieCardUIControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.movieCardUIControls svg {
    width: 3rem;
    height: 2rem;
}

.liked svg {
    color: green;
    transform: scaleX(-1);
}

.disliked svg {
    color: red;
    transform: scale(-1, -1);
}

.pageControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}