.filters {
    background-color: hsla(233, 92%, 31%, 0.31);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filters button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px ghostwhite;
}

.tags {
    color: lightblue;
    background-color: black;
}

.active {
    color: black;
    background-color: lightblue;
}